body {
    background: #f0ffff;
    padding: 0px 35px 0px 35px;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

footer {
    border-top: 1px solid #d5d5d5;
}

nav {
    border-bottom: 1px solid #d5d5d5;
}
