body {
    margin: 20px auto;
    width: 85%;

}

nav ul, footer ul {
    padding: 0px;
    margin: 20px auto;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
