body {
    background: #f0ffff;
    padding: 0px 35px 0px 35px;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 0px;
}

footer {
    border-top: 1px solid #d5d5d5;
}

nav {
    border-bottom: 1px solid #d5d5d5;
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #04AA6D;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
